@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    /* background: var(--bg-principal); */
    font-weight: 600;

    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-principal: #161616;
    --txt-princial: #f5f5f5;
    --txt-secondary: #969799;
    --txt-dark: black;
    --main-color: #0077ff;
}

/* Header */
.top-header {
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

    background: transparent;
}

.top-header .logo {
    width: 100px;
    gap: 3rem;
    transition: all 0.3s;
    
}

.top-header .logo:hover {
    /* transform: translateY(-1px); */
    transform: scale(1.1);
}

.top-header nav ul {
    display: flex;
    gap: 4rem;
}

.top-header nav ul li a {
    background: transparent;
    color: var(--txt-secondary);
    display: inline-block;
    transition: all 0.2s;
    border-bottom: 1px solid transparent;
}

.top-header .btn-contact {
    border: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 2rem;
    text-transform: uppercase;

    color: var(--txt-princial);

    background: transparent;
    transition: all 0.3s;
    cursor: pointer;
    
}

.top-header .btn-contact:hover {
    background: var(--txt-princial);
    color: var(--txt-dark);
    transform: translateY(-2px);

    font-weight: 600;
}

/* LINKS HEADER:HOVER */

.top-header nav ul li .home-link:hover {
    color: var(--txt-princial);
    border-bottom-color: var(--main-color);
    transform: translateY(-1px);
}

.top-header nav ul li .about-link:hover {
    color: var(--txt-princial);
    border-bottom-color: var(--main-color);
    transform: translateY(-1px);
}

.top-header nav ul li .experience-link:hover {
    color: var(--txt-princial);
    border-bottom-color: var(--main-color);
    transform: translateY(-1px);
}

.top-header nav ul li .projects-link:hover {
    color: var(--txt-princial);
    border-bottom-color: var(--main-color);
    transform: translateY(-1px);
}


/* /LINKS HEADER:HOVER */

/* /Header */

/* Main */

.midia-icons {
    margin-right: 45rem;
    background: white;
    background-clip: text;
    font-size: 40px;

    
    cursor: pointer;
    gap: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.midia-icons .bx {
    font-size: 40px;
    cursor: pointer;
    gap: 15px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.midia-icons .bx:hover {
    transform: scale(1.2);
}

.bxl-instagram:hover {
    color: #E1306C; 
}

.bxl-github:hover {
    color: #6e5494; 
}

.bxl-facebook:hover {
    color: #3b5998; 
}

.bxl-linkedin:hover {
    color: #0077B5; 
}


.main-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--txt-princial);
    
    height: 42rem;
    overflow: hidden;
    gap: 30rem;


    background: url(../assets/main-bg-2.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;

}

.main-img img{
    width: 35rem;
    margin-top: 6rem;
    margin-left: 30rem;
    
}

.txt-main {
    position: absolute;
    left: 28rem;
    line-height: 1;
}

.main-title {
    font-size: 80px;
    margin-bottom: 20px;
}

.txt-developer {
    margin-top: 30rem;
    line-height: 0;
    background: linear-gradient(45deg, #0077ff, #82b8f5, #e52e71);
    background-clip: text;
    color: transparent;

}

/* /Main */

/* Main - About */
.about {
    padding: 10rem 20rem;
    text-align: right;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-title {
    margin-right: 5rem;
    align-items: center;
    font-size: 80px;
    color: var(--bg-principal);
}

.about-description {
    font-size: 20px;
}

.about-description em {
    font-style: normal;
    font-weight: 900;
}

hr {
    margin: 2rem;
}

.experience {
    padding: 7rem 3rem;
    text-align: left;
    

    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.experience-description {
    padding: 1rem 4rem;
}



/* /Main - About */